body{background-color:aqua; text-align: center;
}
h1{text-align: center;
}
h1{color: brown;
font: size 200px;;}
h2{text-align: left;
}
h2{color: blueviolet;
 text-align: center;
}
h4{color: blueviolet;
text-align: center;}